global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'spring-boot'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8080']


        #docker run -d --name=prometheus -p 9090:9090 -v /Users/naminsu/Desktop/monitor/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml prom/prometheus
        # grafana 도커 실행 명령어
        #docker run -d --name=grafana -p 3000:3000 grafana/grafana